l2jserver2-gameserver/data/template/character.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ths="http://schemas.l2jserver2.com/character"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/jaxb http://java.sun.com/xml/ns/jaxb/bindingschema_2_0.xsd"
	targetNamespace="http://schemas.l2jserver2.com/character" jaxb:version="2.1"
	jaxb:extensionBindingPrefixes="xjc">
	<xs:import schemaLocation="l2jserver2.xsd" />

	<xs:simpleType name="CharacterTemplateID">
		<xs:annotation>
			<xs:appinfo>
				<xjc:javaType adapter="com.l2jserver.util.jaxb.CharacterTemplateIDAdapter"
					name="com.l2jserver.model.id.template.CharacterTemplateID" />
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="ths:CharacterClass" />
	</xs:simpleType>

	<xs:element name="character">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class name="CharacterTemplate" />
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ActorTemplate">
					<xs:sequence>
						<xs:element name="stats">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="hp">
										<xs:complexType>
											<xs:sequence />
											<xs:attribute name="base" type="xs:double" use="required" />
											<xs:attribute name="modifier" type="xs:double"
												use="required" />
											<xs:attribute name="add" type="xs:double" use="required" />
										</xs:complexType>
									</xs:element>
									<xs:element name="mp">
										<xs:complexType>
											<xs:sequence />
											<xs:attribute name="base" type="xs:double" use="required" />
											<xs:attribute name="modifier" type="xs:double"
												use="required" />
											<xs:attribute name="add" type="xs:double" use="required" />
										</xs:complexType>
									</xs:element>
									<xs:element name="cp">
										<xs:complexType>
											<xs:sequence />
											<xs:attribute name="base" type="xs:double" use="required" />
											<xs:attribute name="modifier" type="xs:double"
												use="required" />
											<xs:attribute name="add" type="xs:double" use="required" />
										</xs:complexType>
									</xs:element>
									<xs:element name="attack">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="physical">
													<xs:complexType>
														<xs:sequence />
														<xs:attribute name="damage" type="xs:double"
															use="required" />
														<xs:attribute name="speed" type="xs:double"
															use="required" />
													</xs:complexType>
												</xs:element>
												<xs:element name="magical">
													<xs:complexType>
														<xs:sequence />
														<xs:attribute name="damage" type="xs:double"
															use="required" />
														<xs:attribute name="speed" type="xs:double"
															use="required" />
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="evasion" type="xs:int" use="required" />
											<xs:attribute name="critical" type="xs:int" use="required" />
											<xs:attribute name="accuracy" type="xs:int" use="required" />
										</xs:complexType>
									</xs:element>
									<xs:element name="defense">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="physical">
													<xs:complexType>
														<xs:sequence />
														<xs:attribute name="value" type="xs:double"
															use="required" />
													</xs:complexType>
												</xs:element>
												<xs:element name="magical">
													<xs:complexType>
														<xs:sequence />
														<xs:attribute name="value" type="xs:double"
															use="required" />
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="move">
										<xs:complexType>
											<xs:sequence />
											<xs:attribute name="run" type="xs:double" use="required" />
											<xs:attribute name="walk" type="xs:double" use="required" />
										</xs:complexType>
									</xs:element>
									<xs:element name="base">
										<xs:complexType>
											<xs:sequence />
											<xs:attribute name="int" type="xs:int" use="required" />
											<xs:attribute name="str" type="xs:int" use="required" />
											<xs:attribute name="con" type="xs:int" use="required" />
											<xs:attribute name="men" type="xs:int" use="required" />
											<xs:attribute name="dex" type="xs:int" use="required" />
											<xs:attribute name="wit" type="xs:int" use="required" />
										</xs:complexType>
									</xs:element>
									<xs:element name="maxload" type="xs:int" />
								</xs:sequence>
								<xs:attribute name="level" type="xs:int" use="required" />
								<xs:attribute name="crafter" type="xs:boolean" use="required" />
							</xs:complexType>
						</xs:element>
						<xs:element name="collision">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="male">
										<xs:complexType>
											<xs:sequence />
											<xs:attribute name="radius" type="xs:double"
												use="required" />
											<xs:attribute name="heigth" type="xs:double"
												use="required" />
										</xs:complexType>
									</xs:element>
									<xs:element name="female">
										<xs:complexType>
											<xs:sequence />
											<xs:attribute name="radius" type="xs:double"
												use="required" />
											<xs:attribute name="heigth" type="xs:double"
												use="required" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="class" type="ths:CharacterTemplateID"
						use="required">
						<xs:annotation>
							<xs:appinfo>
								<jaxb:property name="iD" />
							</xs:appinfo>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="CharacterClass">
		<xs:annotation>
			<xs:appinfo>
				<xjc:javaType adapter="com.l2jserver.util.jaxb.CharacterClassAdapter"
					name="com.l2jserver.model.template.character.CharacterClass" />
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="HUMAN_FIGHTER" />
			<xs:enumeration value="WARRIOR" />
			<xs:enumeration value="GLADIATOR" />
			<xs:enumeration value="WARLORD" />
			<xs:enumeration value="KNIGHT" />
			<xs:enumeration value="PALADIN" />
			<xs:enumeration value="DARK_AVENGER" />
			<xs:enumeration value="ROGUE" />
			<xs:enumeration value="TREASURE_HUNTER" />
			<xs:enumeration value="HAWKEYE" />
			<xs:enumeration value="DUELIST" />
			<xs:enumeration value="DREADNOUGHT" />
			<xs:enumeration value="PHOENIX_KNIGHT" />
			<xs:enumeration value="HELL_KNIGHT" />
			<xs:enumeration value="SAGITTARIUS" />
			<xs:enumeration value="ADVENTURER" />
			<xs:enumeration value="HUMAN_MYSTIC" />
			<xs:enumeration value="WIZARD" />
			<xs:enumeration value="SORCEROR" />
			<xs:enumeration value="NECROMANCER" />
			<xs:enumeration value="WARLOCK" />
			<xs:enumeration value="CLERIC" />
			<xs:enumeration value="BISHOP" />
			<xs:enumeration value="PROPHET" />
			<xs:enumeration value="ARCHMAGE" />
			<xs:enumeration value="SOULTAKER" />
			<xs:enumeration value="ARCANA_LORD" />
			<xs:enumeration value="CARDINAL" />
			<xs:enumeration value="HIEROPHANT" />
			<xs:enumeration value="ELVEN_FIGHTER" />
			<xs:enumeration value="ELVEN_KNIGHT" />
			<xs:enumeration value="TEMPLE_KNIGHT" />
			<xs:enumeration value="SWORD_SINGER" />
			<xs:enumeration value="ELVEN_SCOUT" />
			<xs:enumeration value="PLAINS_WALKER" />
			<xs:enumeration value="SILVER_RANGER" />
			<xs:enumeration value="EVA_TEMPLAR" />
			<xs:enumeration value="SWORD_MUSE" />
			<xs:enumeration value="WIND_RIDER" />
			<xs:enumeration value="MOONLIGHT_SENTINEL" />
			<xs:enumeration value="ELVEN_MYSTIC" />
			<xs:enumeration value="ELVEN_WIZARD" />
			<xs:enumeration value="SPELLSINGER" />
			<xs:enumeration value="ELEMENTAL_SUMMONER" />
			<xs:enumeration value="ORACLE" />
			<xs:enumeration value="ELDER" />
			<xs:enumeration value="MYSTIC_MUSE" />
			<xs:enumeration value="ELEMENTAL_MASTER" />
			<xs:enumeration value="EVA_SAINT" />
			<xs:enumeration value="DARK_FIGHTER" />
			<xs:enumeration value="PALUS_KNIGHT" />
			<xs:enumeration value="SHILLIEN_KNIGHT" />
			<xs:enumeration value="BLADEDANCER" />
			<xs:enumeration value="ASSASSIN" />
			<xs:enumeration value="ABYSS_WALKER" />
			<xs:enumeration value="PHANTOM_RANGER" />
			<xs:enumeration value="SHILLIEN_TEMPLAR" />
			<xs:enumeration value="spectralDancer" />
			<xs:enumeration value="GHOST_HUNTER" />
			<xs:enumeration value="GHOST_SENTINEL" />
			<xs:enumeration value="DARK_MYSTIC" />
			<xs:enumeration value="DARK_WIZARD" />
			<xs:enumeration value="SPELLHOWLER" />
			<xs:enumeration value="PHANTOM_SUMMONER" />
			<xs:enumeration value="SHILLIEN_ORACLE" />
			<xs:enumeration value="SHILLIEN_ELDER" />
			<xs:enumeration value="STORM_SCREAMER" />
			<xs:enumeration value="SPECTRAL_MASTER" />
			<xs:enumeration value="SHILLIEAN_SAINT" />
			<xs:enumeration value="ORC_FIGHTER" />
			<xs:enumeration value="ORC_RAIDER" />
			<xs:enumeration value="DESTROYER" />
			<xs:enumeration value="ORC_MONK" />
			<xs:enumeration value="TYRANT" />
			<xs:enumeration value="TITAN" />
			<xs:enumeration value="GRAND_KHAUATARI" />
			<xs:enumeration value="ORC_MYSTIC" />
			<xs:enumeration value="ORC_SHAMAN" />
			<xs:enumeration value="OVERLORD" />
			<xs:enumeration value="WARCRYER" />
			<xs:enumeration value="DOMINATOR" />
			<xs:enumeration value="DOOMCRYER" />
			<xs:enumeration value="DWARVEN_FIGHTER" />
			<xs:enumeration value="SCAVENGER" />
			<xs:enumeration value="BOUNTY_HUNTER" />
			<xs:enumeration value="ARTISAN" />
			<xs:enumeration value="WARSMITH" />
			<xs:enumeration value="FORTUNE_SEEKER" />
			<xs:enumeration value="MAESTRO" />
			<xs:enumeration value="MALE_SOLDIER" />
			<xs:enumeration value="TROOPER" />
			<xs:enumeration value="BERSEKER" />
			<xs:enumeration value="MALE_SOULBREAKER" />
			<xs:enumeration value="DOOMBRINGER" />
			<xs:enumeration value="MALE_SOULDHOUND" />
			<xs:enumeration value="FEMALE_SOLDIER" />
			<xs:enumeration value="WARDER" />
			<xs:enumeration value="FEMALE_SOULBREAKER" />
			<xs:enumeration value="ARBALESTER" />
			<xs:enumeration value="FEMALE_SOULDHOUND" />
			<xs:enumeration value="TRICKSTER" />
			<xs:enumeration value="INSPECTOR" />
			<xs:enumeration value="JUDICATOR" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>

